ion-content {
    --background: linear-gradient(to right, #00defc, #ffbf66);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Utiliza 100vh para asegurar que ocupa toda la ventana */
    width: 100vw; /* Asegura el ancho completo */
    overflow: hidden; /* Oculta el desbordamiento, si es necesario */
    font-family: 'Ubuntu', sans-serif !important;
}


.container-dificultad {
    width: 100%; /* O el ancho que necesites */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-play {
    width: 80%;
    position: relative;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-image: linear-gradient(to bottom, #8BC34A, #8df715); /* De celeste claro a un azul más oscuro */
    font-weight: 700;
    font-size: 2em;
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido dentro del botón */
    justify-content: center; /* Centra el contenido horizontalmente dentro del botón */
    gap: 10px; /* Espacio entre el icono y el texto */
    padding: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px  #79c027, 0px 9px 25px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 9px 0px #79c027, 0px 9px 25px rgba(0, 0, 0, .3);
    box-shadow: 0px 9px 0px #79c027, 0px 9px 25px rgba(0, 0, 0, .3);
    margin: 20px auto;
    text-align: center;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;

    i {
        position: absolute;
        display: flex;
        left: 30px;
    }
}

.btn-play:active {
    -webkit-box-shadow: 0px 3px 0px #79c027, 0px 3px 6px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 3px 0px #79c027, 0px 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0px 3px 0px #79c027, 0px 3px 6px rgba(0, 0, 0, .2);
    position: relative;
    top: 6px;
}

.btn-records {
    width: 80%;
    position: relative;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-image: linear-gradient(to bottom, #ffee51, #ffe714); /* De celeste claro a un azul más oscuro */
    font-weight: 700;
    font-size: 2em;
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido dentro del botón */
    justify-content: center; /* Centra el contenido horizontalmente dentro del botón */
    gap: 10px; /* Espacio entre el icono y el texto */
    padding: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px  #bbab1c, 0px 9px 25px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 9px 0px #bbab1c, 0px 9px 25px rgba(0, 0, 0, .3);
    box-shadow: 0px 9px 0px #bbab1c, 0px 9px 25px rgba(0, 0, 0, .3);
    margin: 20px auto;
    text-align: center;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;

    i {
        position: absolute;
        display: flex;
        left: 30px;
    }
}

.btn-records:active {
    -webkit-box-shadow: 0px 3px 0px #bbab1c, 0px 3px 6px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 3px 0px #bbab1c, 0px 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0px 3px 0px #bbab1c, 0px 3px 6px rgba(0, 0, 0, .2);
    position: relative;
    top: 6px;
}

.btn-salir {
    position: relative;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-image: linear-gradient(to bottom, #F44336, #ff1100); /* De celeste claro a un azul más oscuro */
    font-weight: 700;
    font-size: 2em;
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido dentro del botón */
    justify-content: center; /* Centra el contenido horizontalmente dentro del botón */
    gap: 10px; /* Espacio entre el icono y el texto */
    padding: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px  #b63229, 0px 9px 25px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 9px 0px #b63229, 0px 9px 25px rgba(0, 0, 0, .3);
    box-shadow: 0px 9px 0px #b63229, 0px 9px 25px rgba(0, 0, 0, .3);
    margin: 20px auto;
    text-align: center;
    width: 80%;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;

    i {
        position: absolute;
        display: flex;
        left: 30px;
    }
}

.btn-salir:active {
    -webkit-box-shadow: 0px 3px 0px #b63229, 0px 3px 6px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 3px 0px #b63229, 0px 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0px 3px 0px #b63229, 0px 3px 6px rgba(0, 0, 0, .2);
    position: relative;
    top: 6px;
}

.divSalir {
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-top: -10px;

    button {
        height: 20px;
        font-size: large;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente el contenido dentro del viewport */
    height: 100vh; /* Hace que el container tome toda la altura del viewport */
    padding: 20px; /* Añade un poco de padding para no tocar los bordes de la ventana */
    box-sizing: border-box; /* Asegura que el padding no afecte las dimensiones externas */
  }
  
  .top-scores-container {
    width: 100%; /* Ocupa todo el ancho que le permite el padding del container */
    max-width: 600px; /* Limita el ancho máximo para pantallas más grandes */
    background-color: #f9f9f9;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    padding: 20px; /* Añade padding dentro del container de los scores */
    h2 {
        font-size: xx-large;
        font-weight: bolder;
        text-align: center;
        color: white;
    }
}
  
  .top-scores-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .score-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
  }
  
  .score-id, .score-time, .score-date {
    margin: 0 5px;
    font-size: 16px;
    color: #555;
  }
  
  .score-time {
    font-weight: bold;
    color: #1a73e8;
  }
  

  .top-scores-facil {
  
    background-image: linear-gradient(to bottom, #8BC34A, #8df715); /* De celeste claro a un azul más oscuro */
    width: 100%; /* Ocupa todo el ancho que le permite el padding del container */
    max-width: 600px; /* Limita el ancho máximo para pantallas más grandes */
    background-color: #f9f9f9;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px; /* Añade padding dentro del container de los scores */
  
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px  #79c027, 0px 9px 25px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 9px 0px #79c027, 0px 9px 25px rgba(0, 0, 0, .3);
    box-shadow: 0px 9px 0px #79c027, 0px 9px 25px rgba(0, 0, 0, .3);
    margin: 20px auto;
    text-align: center;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;

    i {
        position: absolute;
        display: flex;
        left: 30px;
    }
}

.top-scores-medio {

    background-image: linear-gradient(to bottom, #ffee51, #ffe714); /* De celeste claro a un azul más oscuro */
    width: 100%; /* Ocupa todo el ancho que le permite el padding del container */
    max-width: 600px; /* Limita el ancho máximo para pantallas más grandes */
    background-color: #f9f9f9;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px; /* Añade padding dentro del container de los scores */
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px  #bbab1c, 0px 9px 25px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 9px 0px #bbab1c, 0px 9px 25px rgba(0, 0, 0, .3);
    box-shadow: 0px 9px 0px #bbab1c, 0px 9px 25px rgba(0, 0, 0, .3);
    margin: 20px auto;
    text-align: center;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;

    i {
        position: absolute;
        display: flex;
        left: 30px;
    }
}

.top-scores-dificil {
    background-image: linear-gradient(to bottom, #F44336, #ff1100); /* De celeste claro a un azul más oscuro */
    width: 100%; /* Ocupa todo el ancho que le permite el padding del container */
    max-width: 600px; /* Limita el ancho máximo para pantallas más grandes */
    background-color: #f9f9f9;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px; /* Añade padding dentro del container de los scores */
   
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px  #b63229, 0px 9px 25px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 9px 0px #b63229, 0px 9px 25px rgba(0, 0, 0, .3);
    box-shadow: 0px 9px 0px #b63229, 0px 9px 25px rgba(0, 0, 0, .3);
    margin: 20px auto;
    text-align: center;
    width: 80%;
    
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;

    i {
        position: absolute;
        display: flex;
        left: 30px;
    }
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.spinner {
    animation: rotate 2s linear infinite;
    width: 100%;
    height: 100%;
}

.path {
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}